<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>项目--百思不得姐-01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0EDAF191C9ADC2700E391E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0EDAF321C9ADC2700E391E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0EDAF3D1C9ADC2700E391E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
